<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<nav>
  		<ul>
        <li><a href="/" title="Home">Home</a></li>
  			<li><a href="/mom" title="Mom">Mom</a></li>
        <li><a href="/dad" title="Dad">Dad</a></li>
        <li><a href="/john" title="John">John</a></li>
        <li><a href="/scott" title="Scott">Scott</a></li>
  		</ul>	
  	</nav>