body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

nav li{
	display: inline-block;
}

nav li a {
	text-decoration: none;
	padding: 20px;
	font-weight: bold;
	font-size: 30px;
}